
<div class="container-fluid" ng-cloak>

    <header class="row site-header">
        <nav class="container">
            <div class="row">
                <h1><a href="#/home">Coin Pager Streamer</a></h1>
            </div>
            <div class="row">
                <ul class="list-inline">
                    <li>
                       
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    
    <div class="row site-body">
        <div class="col-md-10 col-md-offset-1" ng-view>
        </div>
    </div>

    <div class="row site-footer">
        <div class="col-md-10 col-md-offset-1">
            <footer>
                <div class="text-right">
                    Hack a day, 21 Feb 2015
                </div>
            </footer>
        </div>
    </div>
</div>


