<div class="container">
    <h2>Real time messages on the blockchain</h2>
    <p>Sample data:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>1TXTfdsfsdfs</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>1KILLfdsfsdfs</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>1BILLfdsfsdfs</td>
            </tr>
        </tbody>
    </table>
</div>