<div class="container">
    <h2>Real time messages on the blockchain</h2>
    <p>Sample data:</p>
    <table class="table table-striped" style="cursor:pointer;">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" ng-click="goToDetails(item.from)">
                <td>{{item.from}}</td>
                <td>{{item.to}}</td>
                <td>{{item.message}}</td>
            </tr>
        </tbody>
    </table>
</div>