    <h2>Transaction details <small>{{detailsId}}</small></h2>

    <div class="row margin-top-5">
        <div class="col-md-12">
            <ul class="list-group margin-top-5">
                <li class="list-group-item">
                    <ul class="list-inline">
                        <li >
                            <div class="btn btn-success icon-camera">
                              Some details here   <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
